node_modules
dist
.env
.vscode
.DS_Store
coverage
npm-debug.log
yarn-error.log
.idea
*.log
*.tsbuildinfo
/build
/.next
/out
/static
/.nuxt
/.vercel
/.parcel-cache
/.turbo
/.pnp
/.pnp.js
/.eslintcache
/.swcache
/.expo
/.expo-shared
/.firebase
/.angular
